footer {
  background-color: orange;
  color: #fff;
  padding: 20px 0;
  margin-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer-content {
  text-align: center;
}

@media (max-width: 768px) {
  footer {
    text-align: center;
  }
}